div.cmt{
	position: relative;
	min-height: 1.3em;
}

div.cmtcommentcontainer{
	position: relative;
	border: 1px transparent solid;
	margin-bottom: 5px;
}

div.mycomment{
	cursor: pointer;
}

span.cmttimestamp{
color: darkblue;
}

span.cmtuserid{
color: darkblue;
padding-left: 5px;
}

span.cmtcomment{
padding-left: 5px;
}

button.cmtnew{
position: absolute;
top: 0px;
left: 0px;
margin-left: -10px;
display: none;
z-index: 2;
opacity: 0.7;
}

button.cmtnew:only-child{
	display: block;
}

button.cmtnew:hover{opacity: 1;}

div.cmt:hover > button.cmtnew{
display: block;
}

button.cmtdelete{
	position: absolute;
	display: none;
	top: -1px;
	right: -1px;
	opacity: 0.7;
}

button.cmtdelete:hover{opacity: 1;}

div.cmtcommentcontainer:hover > button.cmtdelete{
	display: block;
}

div.cmtcommentcontainer:hover{
	border: 1px gray dotted;
}

button.cmtbutton{background-color:#FFF;border:1px solid #aaa;padding-bottom:4px;padding-left: 10px;padding-right: 10px; padding-top: 4px; margin: 0px; border-radius: 4px 4px 4px 4px;}
button.cmtbutton:hover{background-color:#f5f5f5; cursor: pointer;}

button.cmtbuttonsmall{background-color:#FFF;border:1px solid #aaa;padding-bottom:2px;padding-left: 5px;padding-right: 5px; padding-top: 2px; margin: 0px; border-radius: 2px 2px 2px 2px;}
button.cmtbuttonsmall:hover{background-color:#f5f5f5; cursor: pointer;}
