div.notifier{
	position: fixed; 
	right: 20px; 
	bottom: 20px;
	display: none;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 10px;
	/*box-shadow: 2px 2px 5px #333;*/
	border: 1px solid grey;
	text-align: center;
	background-color: rgba(5, 5, 5,0.6);
	color: white;
	max-width: 250px;
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	pointer-events:none;
	/*
	font-family: 'Times New Roman';
	font-size: 110%;
	*/

	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	z-index: 99999;

}